<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ipadCollection.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6EA84BF122D7455200DD20D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EA84C0522D7455400DD20D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EA84C1022D7455400DD20D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
